
form {
  position: relative;
}

.form-group {
  width: 80%;
  float: left;
  padding: 20px;
}
button[type= "submit"] {
  width: 20%;
  position: absolute;
  right: 20px;
  top: 21px;
}
.title {
  padding: 40px;
  padding-bottom: 0;
  color: white;
}

#error-input {
  visibility: hidden;
}
.data {
  border-bottom: 1px solid white;
}

.check {
  width: 5%;
}
.title_head {
  width: 70%;
}
.delete {
  width: 10%;
}
.header {
  background-color: antiquewhite;
}
